
body {
    background-color: black;
}

header {
    color: red;
    text-align: center;
}
#img-box {
    margin: 10px;
    display: flex;
    flex-direction: row;
    height: 200px; 
    width: 200px;
}
.slider-img {
     width: 180px;
     height: 200px;
}

.slider-img2 {
    width: 170px;
    height: 200px;

}
.slider-img3 {
    width: 150px;
    height: 200px;
}

#buttons {
    margin-left: 70%;
     
}
.btn {
    color: white;
    background-color: black;
    cursor: pointer;
}

.btn:hover {
    color: black;
    background-color: white;
}

#displayImage {
    width: 600px;
    height: 600px;
    margin-top: 40px;
}